html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.anychart-tooltip {
    border-radius: 8px;
    background: white;
    box-shadow: -1px 0px 22px 10px rgba(26,26,26,0.45);
    font-family: arial;
    padding:15px;
    color:black;
}

.anychart-tooltip-separator {
    height: 3px;
    background-color: white;
   
}

.anychart-tooltip-title{
    font-size: 10px;
}